.row {
	clear:both;
}

.container {

}

.calculator {
	width: 90px;
	margin: 0 auto;
	clear: both;
}

.button {
	float:left;
	height: 30px;
	width: 30px;
	text-align: center;
	background-color: #CCC;
	line-height: 30px;
}

#display {
	text-align: right;
}

#smallDisplay {
	text-align: right;
	clear: both;
}